<!doctype html>
<html lang="">
  <head>
    <title>Contact App</title>
    <link
      rel="stylesheet"
      href="https://the.missing.style/v0.2.0/missing.min.css"
    />
    <link rel="stylesheet" href="/static/app.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body hx-boost="true">
    <main>
      <header>
        <h1>contacts.app</h1>
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </main>
  </body>
</html>
